In [5]:
import pandas as pd
import sys
print(sys.version)
print(pd.__version__)
df = pd.read_csv('vgsales.csv')
type(df)

3.13.5 | packaged by Anaconda, Inc. | (main, Jun 12 2025, 16:37:03) [MSC v.1929 64 bit (AMD64)]
2.2.3

pandas.core.frame.DataFrame

In [13]:
df.index

RangeIndex(start=0, stop=16598, step=1)

In [14]:
df.sample(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
13799,13801,Sacred Blaze,PS2,2009.0,Strategy,Flight-Plan,0.00,0.00,0.04,0.00,0.04
10104,10106,PDC World Championship Darts: Pro Tour,Wii,2010.0,Sports,O-Games,0.00,0.10,0.00,0.01,0.11
5792,5794,Star Wars Racer Revenge,PS2,2002.0,Racing,LucasArts,0.15,0.12,0.00,0.04,0.31
3857,3859,Ratatouille,Wii,2007.0,Action,THQ,0.44,0.04,0.00,0.04,0.52
3432,3434,Harvest Moon: Friends of Mineral Town,GBA,2003.0,Simulation,Ubisoft,0.34,0.13,0.11,0.01,0.59

In [19]:
df.sample(frac=0.001)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
9147,9149,SingStar Vol. 3,PS3,2008.0,Misc,Sony Computer Entertainment,0.00,0.11,0.00,0.03,0.14
12894,12896,Lufia: The Ruins of Lore,GBA,2002.0,Role-Playing,Taito,0.04,0.01,0.00,0.00,0.05
16177,16180,Rail Simulator,PC,2007.0,Simulation,Electronic Arts,0.00,0.01,0.00,0.00,0.01
6172,6174,Army of Two: The Devil's Cartel,PS3,2013.0,Shooter,Electronic Arts,0.11,0.11,0.01,0.05,0.28
14423,14426,Shugo Chara! Amunonijiro Chara Change,DS,2008.0,Action,Konami Digital Entertainment,0.00,0.00,0.03,0.00,0.03
13177,13179,Yu-Gi-Oh! World Championship 2007,DS,2007.0,Strategy,Konami Digital Entertainment,0.00,0.01,0.04,0.00,0.05
3855,3857,J-League Pro Soccer Club o Tsukurou! 3,PS2,2003.0,Sports,Sega,0.00,0.00,0.52,0.00,0.52
15603,15606,Tsuki no Hikari: Shizumeru Kane no Satsujin,PS2,2002.0,Adventure,Victor Interactive,0.00,0.00,0.02,0.00,0.02
10842,10844,Raven Squad: Operation Hidden Dagger,X360,2009.0,Shooter,Evolved Games,0.08,0.01,0.00,0.01,0.09
15683,15686,Machi: Unmei no Kousaten,PSP,2006.0,Adventure,ChunSoft,0.00,0.00,0.02,0.00,0.02
14271,14274,Jig-A-Pix: Wild World,DS,2009.0,Puzzle,Zushi Games,0.03,0.01,0.00,0.00,0.03
13833,13835,The Movies,PC,2005.0,Simulation,Activision,0.01,0.03,0.00,0.01,0.04
10817,10819,Shox,PS2,2002.0,Racing,Electronic Arts,0.05,0.04,0.00,0.01,0.09
9777,9779,NPPL: Championship Paintball 2009,X360,2008.0,Shooter,Activision Value,0.10,0.01,0.00,0.01,0.12
8866,8868,All-Star Baseball 2003,GC,2002.0,Sports,Acclaim Entertainment,0.12,0.03,0.00,0.00,0.15
9918,9920,MegaTagmension Blanc + Neptune VS Zombies,PSV,2015.0,Action,Idea Factory International,0.02,0.03,0.05,0.01,0.12
16163,16166,Deus Ex,PC,2000.0,Role-Playing,Eidos Interactive,0.00,0.01,0.00,0.00,0.01

In [16]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [17]:
df.tail()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.0,0.0,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.0,0.0,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.0,0.0,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.0,0.0,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.0,0.0,0.01

In [20]:
df.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [21]:
df.info

<bound method DataFrame.info of         Rank                                              Name Platform  \
0          1                                        Wii Sports      Wii
1          2                                 Super Mario Bros.      NES
2          3                                    Mario Kart Wii      Wii
3          4                                 Wii Sports Resort      Wii
4          5                          Pokemon Red/Pokemon Blue       GB
...      ...                                               ...      ...
16593  16596                Woody Woodpecker in Crazy Castle 5      GBA
16594  16597                     Men in Black II: Alien Escape       GC
16595  16598  SCORE International Baja 1000: The Official Game      PS2
16596  16599                                        Know How 2       DS
16597  16600                                  Spirits & Spells      GBA

         Year         Genre   Publisher  NA_Sales  EU_Sales  JP_Sales  \
0      2006.0        Sports    Nintendo     41.49     29.02      3.77
1      1985.0      Platform    Nintendo     29.08      3.58      6.81
2      2008.0        Racing    Nintendo     15.85     12.88      3.79
3      2009.0        Sports    Nintendo     15.75     11.01      3.28
4      1996.0  Role-Playing    Nintendo     11.27      8.89     10.22
...       ...           ...         ...       ...       ...       ...
16593  2002.0      Platform       Kemco      0.01      0.00      0.00
16594  2003.0       Shooter  Infogrames      0.01      0.00      0.00
16595  2008.0        Racing  Activision      0.00      0.00      0.00
16596  2010.0        Puzzle    7G//AMES      0.00      0.01      0.00
16597  2003.0      Platform     Wanadoo      0.01      0.00      0.00

       Other_Sales  Global_Sales
0             8.46         82.74
1             0.77         40.24
2             3.31         35.82
3             2.96         33.00
4             1.00         31.37
...            ...           ...
16593         0.00          0.01
16594         0.00          0.01
16595         0.00          0.01
16596         0.00          0.01
16597         0.00          0.01

[16598 rows x 11 columns]>

In [24]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Columns: 11 entries, Rank to Global_Sales
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [25]:
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [27]:
df[['Genre']].describe()

         Genre
count    16598
unique      12
top     Action
freq      3316

In [29]:
df.shape, len(df)

((16598, 11), 16598)

In [30]:
df[['Genre','Name']]

              Genre                                              Name
0            Sports                                        Wii Sports
1          Platform                                 Super Mario Bros.
2            Racing                                    Mario Kart Wii
3            Sports                                 Wii Sports Resort
4      Role-Playing                          Pokemon Red/Pokemon Blue
...             ...                                               ...
16593      Platform                Woody Woodpecker in Crazy Castle 5
16594       Shooter                     Men in Black II: Alien Escape
16595        Racing  SCORE International Baja 1000: The Official Game
16596        Puzzle                                        Know How 2
16597      Platform                                  Spirits & Spells

[16598 rows x 2 columns]

In [31]:
df[['Genre','Name']].sample(5)

              Genre                                               Name
12195  Role-Playing        Doraemon: Nobita no Shin Makai Daibouken DS
15747          Misc  Kochira Katsushikaku Kameari Kouenmae Hashutsu...
11590     Adventure                              Minecraft: Story Mode
10700     Adventure                                   Murder in Venice
3339       Fighting         Backyard Wrestling: Don't Try This at Home